In [50]:
# functions in python


# greeting different people

names=["Manish", "Kumar", "sagar"]


def greet(name):
    res=print(f"Hello,{name} welcome to Nepal")
    return res

greet("suman")


for i in names:
    greet(i)

Hello,suman welcome to Nepal
Hello,Manish welcome to Nepal
Hello,Kumar welcome to Nepal
Hello,sagar welcome to Nepal

In [62]:



# finding odd and even

def find(num):
    if num%2==0:
        return "It is even"

    else:
        return "its odd"

find(15)

'its odd'

In [112]:



# # finding odd and even

def find(num):
    if num%2==0:
        return "It is even"

    else:
        return "its odd"

for i in range(0,11):
    print(f"{i}.{find(i)}")

0.It is even
1.its odd
2.It is even
3.its odd
4.It is even
5.its odd
6.It is even
7.its odd
8.It is even
9.its odd
10.It is even

In [114]:




# docstring in function

def add(a,b):
    """
    this is a function that adds two number
    input: integer/number
    output : add the given  number 
    """
    result=a+b
    return result

add(30,40) # calling

70

In [116]:
# if you want to see the docstring then
print(add.__doc__)

    this is a function that adds two number
    input: integer/number
    output : add the given  number

In [126]:
# we can also handle it using the function


num1=int(input("enter the first number:"))
num2=int(input("enter the second number:"))
def add(a,b):
    """
    this is a function that adds two number
    input: integer/number
    output : add the given  number 
    """
    if isinstance(a,int) and isinstance(b,int):
        
        result=a+b
        return result

    else:
        print("wrong input")

add(num1,num2)

enter the first number: 30
enter the second number: 60

90

In [134]:
# parameter vs argument



# types of arguments 
#default argument

def add(a=3,b=2):
    return a+b

add()

5

In [136]:
# positonal argument


def add(a=3,b=2):
    return a+b

add(6,6)# here a,b follows the position as defined in the function of parameter

12

In [140]:
# keyword argument

def add(a=3,b=2):
    return a**b

add(b=9,a=1)

1

In [144]:
## *args and ** kwargs


def multi(*args):
    print(args)

multi(1,2,3,4,5,6,)

(1, 2, 3, 4, 5, 6)

In [156]:
## use of *args


def multi(*args):
    result=1
    for i in args:
        result=result*i
    return result

multi(1,2,3)

6

In [160]:


#**kwargs
def multi(**kwargs):
     print(kwargs)

multi(ram=30,sita=60)

{'ram': 30, 'sita': 60}

In [3]:
# function without return statement
# it will return NONE



def checking(num):
    if num%2==0:
        print("even")

    else:
        print("odd")


print(checking(25))

odd
None

In [9]:


# global variable and local variable in function 



# global variable 

def product(a):
    print(y)
    print(a+3)
    return a**a

y=15
product(2)
print(y)

15
5
15

In [13]:



# local variable

def product(a):
    x=3
    print(y)
    print(x+3)
    return a**a

y=15
product(2)
#print(x)   # this is not possible in local variable

15
6

4

In [15]:
# priority of variables .

# first priority to local variable , if it is not present then only prefers to global variable
def product(a):
    x=3
    
    print(x+3)
    return a**a

x=5
product(2)

6

4

In [17]:



# you cant change gobal variable in function, you can perform operation and access

def multi(a,b):
    x=x+1
    return a*b

x=2
multi(b=1,a=6)

UnboundLocalError: cannot access local variable 'x' where it is not associated with a value

In [19]:


# But possible through global keyboard although  it is not recommended by python

def multi(a,b):
    global x
    x=x+1
    return a*b

x=2
multi(b=1,a=6)

6

In [7]:
#nested function
def greet():
    def hello():
        print("hello, user. How are you!")

    hello()

    print("This is greet function")

print("this is a first line that will be executed")

greet()

this is a first line that will be executed
hello, user. How are you!
This is greet function

In [13]:
# functions are first class citizens 



def add(a,b):
    return a+b

add(5,4)

print(type(add))
print(id(add))

<class 'function'>
2337943993888

In [17]:
# reassigning


def add(a,b):
    return a+b



sum=add
add(5,5)
print(type(add))

<class 'function'>

In [19]:
# deleting 

# functionsacts like data types 


def add(a,b):
    return a+b

add(5,4)

del add
print(type(add))

NameError: name 'add' is not defined

In [27]:


# lamda function 


x= lambda a,b:a*b
print(type(x))

x(2,1)

<class 'function'>

2

In [29]:
# lamda function only sipport for one expression 

s= lambda x,y:x+y
s(3,2)

5

In [33]:

#lambda function

odd_even= lambda x:"even" if x%2==0  else "odd"
odd_even(20)

'even'

In [39]:
# higher order function 
# if a function takes a function as a paramater then its a HOF

# example 

num1=int(input("enter the first num:"))
num2=int(input("enter the second num:"))

operands=[num1,num2]
def add(a,b):
    return a+b

def mul(a,b):
    return a*b


def trans(function,oper):
    transformed= function(oper[0],oper[1])
   

    print(transformed)

trans(add,operands)

enter the first num: 3
enter the second num: 2

5

In [41]:
# we can do other function without def other function with the help of lambda function

# higher order function 
# if a function takes a function as a paramater then its a HOF

# example 

num1=int(input("enter the first num:"))
num2=int(input("enter the second num:"))

operands=[num1,num2]
def add(a,b):
    return a+b

def mul(a,b):
    return a*b


def trans(function,oper):
    transformed= function(oper[0],oper[1])
   

    print(transformed)

trans(lambda x,y:x*y,operands)

enter the first num: 2
enter the second num: 3

6

In [45]:




# map, filter nad reduce 

list(map(lambda x:x**2,[3,3,2]))

[9, 9, 4]

In [47]:
l=[1,2,3,4]

tuple(map(lambda x:x*5,l))

(5, 10, 15, 20)

In [53]:
# filter 

list(filter(lambda x:x>=2,[1,2,6,5]))

[2, 6, 5]

In [55]:
# reduce 

import functools

functools.reduce(lambda x,y:x*y,[1,2,3])

6