### list datatype in python

In [2]:
# list can contain any type of data and nested list is possible
marks=[30,80.5,"good",True,[30,20,80]]
print(marks)

[30, 80.5, 'good', True, [30, 20, 80]]

In [4]:


#memory address of list

marks=[30,80.5,"good",True,[30,20,80]]
id(marks)

2440443488640

In [6]:


#memory address of individual

marks=[30,80.5,"good",True,[30,20,80]]

id(marks[1])

2440465226096

In [10]:
# list cab be duplicate 

sum=[3,2,1,10,1,1]
print(sum)

# here duplication of 1 is possible so list allows duplicate

[3, 2, 1, 10, 1, 1]

In [12]:


#creation of list

#creation of empty list
ram=[]


# creation of 1-dimensional list

shyam=[3,4,5,6,7]


#creation of 2-dimensional list

hari=[1,2,3,["sita",True]]


#creation of 3-dimensional list
ramu=[[[1,3,6],["hari",30]]]


print(hari)
print(ramu)

[1, 2, 3, ['sita', True]]
[[[1, 3, 6], ['hari', 30]]]

In [16]:




# acessing of list 

hari=[1,2,3,["sita",True]]
print(hari[0])


print(hari[3][1])

1
True

In [28]:



# list methods 

#append
# add to the last of the list

a=[1,2,3,4,5]
a.append(["ram","sita"])
print(a)

[1, 2, 3, 4, 5, ['ram', 'sita']]

In [24]:



# extend
# same like append but it adds the items at last
#It does not create a nested list.

b=[1,2,3,4,5]
b.extend("sita")

print(b)

[1, 2, 3, 4, 5, 's', 'i', 't', 'a']

In [30]:



#editable with indexing 

x=[300,400,False]
x[2]=True

print(x)

[300, 400, True]

In [32]:


#editable with slicing
x=[300,400,False]
x[1:3]="shyam",500
print(x)

[300, 'shyam', 500]

In [34]:


# inserting
x=[300,400,False]
x.insert(0,"pass")
print(x)

['pass', 300, 400, False]

In [36]:




#deletion

marks=[30,80.5,"good",True,[30,20,80]]
del marks[4]

print(marks)

[30, 80.5, 'good', True]

In [42]:



#pop method 

marks=[30,80.5,"good",True,[30,20,80]]
print(marks.pop())
print(marks)

[30, 20, 80]
[30, 80.5, 'good', True]

In [44]:


#clear

marks=[30,80.5,"good",True,[30,20,80]]
marks.clear()
print(marks)

[]

In [62]:
# len/min/max/sorted 

marks=[30,80.5,"good",True,[30,20,80]]

print(len(marks))


#print(min(marks))   error comes because python doesn't know how to compare string and int



com=[4,5,10.5,16]
print(min(com))

print(max(com))


print(sorted(com,reverse=True))

print(sorted(com))

5
4
16
[16, 10.5, 5, 4]
[4, 5, 10.5, 16]

In [64]:





#copy

num=[32,43,"True"]
num1=num.copy()
print(num1)

[32, 43, 'True']

In [72]:



## operations on list


# arithmetic operation +,*

L1=[1,2,3,4,5]
L2=[6,7,8,9]

print(L1+L2)

L3=L1+L2
print(L3)

#multiplication

L1*3


# we cant multiply two list it is only possible for single list

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [76]:
#membership operation


marks=[30,80.5,"good",True,[30,20,80]]

print(30 in marks)

print(False not in marks)

True
True

In [78]:



# loop in list

marks=[30,80.5,"good",True,[30,20,80]]

for z in marks:
    print(z)

30
80.5
good
True
[30, 20, 80]

In [92]:
# list comprehension 

#adding 1 to 10 in a list
l=[]
for i in range(1,11):
    l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
# through list comprehension
new_list=[i for i in range(1,11)]
print(new_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#multiplication

new=[3,2,1]
mul=-2
net=[]
for i in new:
    result=i*mul
    net.append(result)

print(net)

[-6, -4, -2]

In [11]:
# squaring a number 
num=int(input("enter the number you want to square:"))
num1=int(input("enter the another you want to square:"))

square=[num,num1]
result=[]
for i in square:
    result.append(i**2)

print(result)

enter the number you want to square: 2
enter the another you want to square: 4

[4, 16]

In [15]:
# through list comprehension

num=int(input("enter the number you want to square:"))
num1=int(input("enter the another you want to square:"))
square=[num,num1]
new_list=[i**2 for i in square ]
print(new_list)

enter the number you want to square: 2
enter the another you want to square: 4

[4, 16]

In [17]:




#using condition
hello=[0,1,2,10,15,16,20,13,18]

new_list=[i for i in hello if i%2==0]
print(new_list)

[0, 2, 10, 16, 20, 18]

In [23]:



#zip function in python

l1=[1,2,3,"Ashish"]
l2=[20,40,60,40]
zip(l1,l2)

list(zip(l1,l2))

[(1, 20), (2, 40), (3, 60), ('Ashish', 40)]

In [31]:
# if they have different length

l1=[1,2,3,"Ashish","manish",80]
l2=[20,40,60,40]
zip(l1,l2)

tuple(zip(l1,l2))
dict(zip(l1,l2))

{1: 20, 2: 40, 3: 60, 'Ashish': 40}

In [33]:



l1=[1,2,3,"Ashish","manish",80]
l2=[20,40,60,40]
zip(l1,l2)

tuple(zip(l1,l2))

((1, 20), (2, 40), (3, 60), ('Ashish', 40))

In [41]:




# can possible in list comprehension as well

# if i write i it will represent tuple 
l1=[1,2,3,20,80]
l2=[20,40,60,40]


new_list=[ i-j for i,j in zip(l1,l2)]
print(new_list)

[-19, -38, -57, -20]