In [3]:
#tuples in python


t1=()
print(type(t1))

<class 'tuple'>

In [5]:



t1=("manish")
print(type(t1))

<class 'str'>

In [7]:


t1=("manish",)
print(type(t1))

<class 'tuple'>

In [9]:
#creating a tuple 


t2=(2,3,"Ashish",(3,2),True,[30,40,60])


print(t2)

(2, 3, 'Ashish', (3, 2), True, [30, 40, 60])

In [13]:



# accesssing through indexing

t2=(2,3,"Ashish",(3,2),True,[30,40,60])

print(t2[5][2])

60

In [15]:
# acessing through slicing
t2=(2,3,"Ashish",(3,2),True,[30,40,60])

print(t2[::2])

(2, 'Ashish', True)



### editing / deletion is not possible because tuple is immutable but ca perform changing it in list

In [20]:


# type conversion

t2=(2,3,"Ashish",(3,2),True,[30,40,60])
new_1=list(t2)
print(new_1)

[2, 3, 'Ashish', (3, 2), True, [30, 40, 60]]

In [22]:



# tuple operation 

#arithmetic

t2=(2,3,4,6)
t3=(20,30,4)
print(t2+t3)

(2, 3, 4, 6, 20, 30, 4)

In [26]:
#membership

t2=(2,3,4,6)
print( 2 not in t2)

False

In [30]:

#loop
t2=(2,3,4,6)
for i in t2:
    print(i)

2
3
4
6

In [42]:
#tuples methods 


t2=(2,3,4,6)

print(len(t2))
print(min(t2))
print(max(t2))
print(sorted(t2, reverse=True))

print(sum(t2))

4
2
6
[6, 4, 3, 2]
15

In [48]:
# methods

t2=(2,3,4,6)
print(t2.index(4))

print(t2.count(4))

2
1

In [52]:




# tuple unpacking

a,b,c=(4,5,6)
print(a,b,c, sep="\n")

4
5
6

In [54]:
# can be done for list 


a,b,c,d=[30,40,60,80,]
print(a,b,c,d)

30 40 60 80

In [56]:
a,b,c,*not_intrested_to_unpack=[30,40,60,80,"Ashish",True]
print(a,b,c,not_intrested_to_unpack)

30 40 60 [80, 'Ashish', True]

In [2]:






#sets in python

#creating a empty set

s1=set()
print(type(s1))

<class 'set'>

In [10]:
# set is ordered

s2={4,5,6}
s4={6,5,4}

print(s2==s4)

True

In [6]:



#1 dimensional set
# it does not allow duplicates 
s1={1,2,3,4,1}

print(s1)

{1, 2, 3, 4}

In [18]:




#2 dimensional set

# list is not allowed in a set because list is mutable (unhashable)
# dict is not allowed because dict is mutable (unhashable)
# set is not allowed because set is mutable (unhashable)
# Only immutable (hashable) objects can be elements of a set

s5={1,2,3,3,40.2,("Ashish", 30)}
print(s5)

{1, 2, 3, 40.2, ('Ashish', 30)}

In [ ]:



# Accessing item in a set

# it is not possible to access because it is unorderd so, it does not have any index so, you cant perform indexing and slicing

In [ ]:
# you can't assign the values in sets because it does not have any index

In [26]:


#addding values 

s1={1,2,3,4,1}
s1.add(10) # it will add 1 item
print(s1)



s1.update(["Ashish",60])# adding multiple items but we should pass in a list form
print(s1)

{1, 2, 3, 4, 10}
{1, 2, 3, 4, 10, 'Ashish', 60}

In [28]:



#deleting from set
s7={1, 2, 3, 4, 10, 'Ashish', 60}
s7.discard(60)
print(s7)

{'Ashish', 1, 2, 3, 4, 10}

In [30]:


s7={1, 2, 3, 4, 10, 'Ashish', 60}
s7.remove(60)
print(s7)

{'Ashish', 1, 2, 3, 4, 10}

In [32]:


s7={1, 2, 3, 4, 10, 'Ashish', 60}
s7.pop()# randomly remove 1 item
print(s7)

{1, 2, 3, 4, 10, 60}

In [36]:
s7={1, 2, 3, 4, 10, 'Ashish', 60}
s7.clear()# clears the set
print(s7)

set()

In [40]:



# set operations 

# union
s1={1, 2, 3, 4, 10, 'Ashish', 60}
s2={1,2,3,4,1}

print(s1|s2)

{1, 2, 3, 4, 10, 'Ashish', 60}

In [42]:

# set difference
s1={1, 2, 3, 4, 10, 'Ashish', 60}
s2={1,2,3,4,1}

print(s1-s2)

{'Ashish', 10, 60}

In [44]:

# intersection
s1={1, 2, 3, 4, 10, 'Ashish', 60}
s2={1,2,3,4,1}

print(s1&s2)

{1, 2, 3, 4}

In [46]:


#symmetric differemce ^
s1={1, 2, 3, 4, 10, 'Ashish', 60}
s2={1,2,3,4,1}

print(s1^s2)

{10, 'Ashish', 60}

In [48]:

# menbership
s1={1, 2, 3, 4, 10, 'Ashish', 60}

print("Ashish" not in s1)

False

In [58]:


# methods in sets 

s1={1, 2, 3, 4, 10,  60}
print(len(s1))
print(min(s1))
print(max(s1))
print(sum(s1))


print(sorted(s1, reverse=True))

6
1
60
80
[60, 10, 4, 3, 2, 1]

In [60]:



#frozenset in python
# you can create with tuples and list
fs=frozenset((2,3,4,5,10))
fs1=frozenset([2,3,4,"Ashish",10])

print(type(fs1))

<class 'frozenset'>

In [66]:

fs=frozenset((2,3,4,5,10))
fs1=frozenset([2,3,4,"Ashish",10])
#print(fs.update([30,40]))


print(fs|fs1)

frozenset({2, 3, 4, 5, 10, 'Ashish'})

In [68]:



#set comprehension 
# printing a number which is not divisible  by 2
S
s={30,40,41,25,58,93,100}
set_comp={i for i in s if i%2!=0 }
print(set_comp)

{41, 93, 25}

In [72]:

#dictionary on python
# creating a list

d1={"name":"Ashish", "class":5,"roll_no":60}
print(d1)
print(type(d1))

{'name': 'Ashish', 'class': 5, 'roll_no': 60}
<class 'dict'>

In [74]:


# 2 dimensional 
d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}
print(d1)

{'name': 'Ashish', 'class': 5, 'roll_no': 60, 'marks': {'1sem': 4, '2sem': 3.63}}

In [76]:
# duplicate keys 
#If a key is repeated, the last value overwrites the previous one

d1={"name":"Ashish", "class":5,"class":10,"roll_no":60}
print(d1)

{'name': 'Ashish', 'class': 10, 'roll_no': 60}

In [80]:



# immutable is supported but mutable is not supported



# immutable is supported 
d1={(1,2,2,"Fail"):"Ashish", "class":5,"class":10,"roll_no":60}
print(d1)

{(1, 2, 2, 'Fail'): 'Ashish', 'class': 10, 'roll_no': 60}

In [86]:
# immutable is not supported 

#d1={[1,2,2,"Fail"]:"Ashish", "class":5,"class":10,"roll_no":60}
#print(d1)

In [90]:


# accessing value in dict

d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

print(d1["name"])


print(d1["marks"]["1sem"])

Ashish
4

In [92]:



#adding key-value 

d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

d1["remarks"]="pass"
print(d1)

{'name': 'Ashish', 'class': 5, 'roll_no': 60, 'marks': {'1sem': 4, '2sem': 3.63}, 'remarks': 'pass'}

In [94]:



# editing 

d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

d1["marks"]["1sem"]=3.88
print(d1)

{'name': 'Ashish', 'class': 5, 'roll_no': 60, 'marks': {'1sem': 3.88, '2sem': 3.63}}

In [96]:


# removing 

d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

d1.pop("name")
print(d1)

{'class': 5, 'roll_no': 60, 'marks': {'1sem': 4, '2sem': 3.63}}

In [98]:



d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

d1.popitem()
print(d1)

{'name': 'Ashish', 'class': 5, 'roll_no': 60}

In [100]:



#clear
d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

d1.clear()
print(d1)

{}

In [104]:



# operations 
# membership, iteration


d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

print("name" not in d1) # it will use key  not values ok

False

### membership  and iterration is done based on key not values

In [108]:

# iteraton
d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}
for i in d1:
    print(i)

name
class
roll_no
marks

In [111]:
# dictionary methods /functions
# common functions are also used



# items()

d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

print(d1.items())

dict_items([('name', 'Ashish'), ('class', 5), ('roll_no', 60), ('marks', {'1sem': 4, '2sem': 3.63})])

In [113]:




#keys 

d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

print(d1.keys())

dict_keys(['name', 'class', 'roll_no', 'marks'])

In [115]:
# values 


d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}

print(d1.values())

dict_values(['Ashish', 5, 60, {'1sem': 4, '2sem': 3.63}])

In [119]:




# update function 
d1={"name":"Ashish", "class":5,"roll_no":60,"marks":{
    "1sem":4,
    "2sem":3.63
}}


d2={"name":"Manish", "class":5,"roll_no":60}

d1.update(d2)

print(d1)

{'name': 'Manish', 'class': 5, 'roll_no': 60, 'marks': {'1sem': 4, '2sem': 3.63}}

In [121]:


# dictionary comprehension
 #{ print(key):print(value)   for i in range(1,10)}




# printing the cube root of the numbers from 2 to 9
#No return, no assignment, no complex state logic in comprehension


new_dict={i:i**3 for i in range(2,10)}
print(new_dict)

{2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [129]:
fibo = {i:i for i in range(0,15) }
print(fibo)

{0: 0, 1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6, 7: 7, 8: 8, 9: 9, 10: 10, 11: 11, 12: 12, 13: 13, 14: 14}