In [1]:
print("Ashish")

Ashish

In [ ]:
#use of sep and end parameter in print()
#We can change the separator in print function which is shown below

In [3]:
print("Ashish",3,3.23,True)
print("Ashish","Manish",sep="-")

Ashish 3 3.23 True
Ashish-Manish

In [5]:
print("Ashish")
print('suman')

Ashish
suman

In [7]:
#we can print both print function  by using end="", by default it is
print("Ashish",end=" ")
print('suman')

Ashish suman

In [9]:
#comments in python this is the single line comment

## python does not have multiple line comment like c and java

# Datatypes

In [25]:

#integer
print(3,type(3))

# float

print(10.1,type(2.5))

3 <class 'int'>
10.1 <class 'float'>

### python is interpreted and case sensitive programming language

In [32]:
# boolean 

print(True)

#complex

#type(3+6i)
# i is not used as imaginary number in python 
type(3+6j)

True

complex

In [38]:
#list []
#tuples ()
#sets {}
#dictionary {Key,value pair}

shyam={"name":"Ashish","roll_no":30}
print(shyam)

type(shyam)

{'name': 'Ashish', 'roll_no': 30}

dict

## input function in python

In [7]:
# input functions converts all the data in string
age=input()
print(age)
type(age)

 2205

2205

str

## type conversion in python means converting one data type to another

### float() converts the data into float
### int() converts data into integer

In [9]:
float(age)
type(age)

# it temporialiy store and throws it so we have to store it

str

In [11]:
age=float(age)
type(age)

float

## Simple calculator using input function

In [16]:
# calculator that performs add, subtract and multiplication 

num1=input("Enter the first number:")
num2=input("Enter the second number:")

add= num1+num2
diff= num1-num2
mul= num1*num2

print(add)
print(diff)
print(mul)

# showing problem because input function convert the data into string so usually string and string concatenate 
# but not subtract , multiply and so on so we have to do type conversion

Enter the first number: 20
Enter the second number: 15

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [18]:
# calculator that performs add, subtract and multiplication 

num1=float(input("Enter the first number:"))
num2=float(input("Enter the second number:"))

add= num1+num2
diff= num1-num2
mul= num1*num2

print(add)
print(diff)
print(mul)

Enter the first number: 20
Enter the second number: 5

25.0
15.0
100.0

### Type conversion in python 

### implicit - done by python
### explicit - done by programmer

In [21]:
# implicit 

print(5+5.5)

10.5

In [23]:

#explicit

print(4+int("4"))

8

In [25]:
x=True+1
print(x)


int(25.2050)

2

25

In [27]:

int(True)

1

In [29]:
str(True) # converting boolean to string

'True'

In [33]:
# multiline string 
info=""" The golden sunlight filtered through the tall, swaying trees, casting dappled patterns on the forest floor.
Birds chirped in harmonious rhythm, and a gentle breeze carried the earthy scent of moss and damp leaves."""

print(info)

 The golden sunlight filtered through the tall, swaying trees, casting dappled patterns on the forest floor.
Birds chirped in harmonious rhythm, and a gentle breeze carried the earthy scent of moss and damp leaves.

## RAW STRINGS

In [38]:
# it is used  not to treat backslashes as special character 


hari="he is nice\t he is good\n he is handsome "
print(hari)

he is nice	 he is good
 he is handsome

In [40]:
# using raw strings 
hari=r"he is nice\t he is good\n he is handsome "
print(hari)

he is nice\t he is good\n he is handsome

## None string

#### we can't just assign variable and leave in python 
#### Python will throw an error because every variable must have a value.

In [47]:
# in python we can not assign variable as empty 
f=
z=3
t=5
print(f+z+t)

SyntaxError: invalid syntax (1191316677.py, line 2)

In [51]:
f=None 
z=3
t=5
print(f or 0+z+t)

8

### unicode

In [66]:
# unicode literals 
# syntax: "\uXXXX\uXXXX"   for 4 digits

# syntax: "\UXXXXXXXX"   for 8digits


emoji="\u263A\uFE0F"
print(emoji)

☺️