In [3]:
#tuples in python


t1=()
print(type(t1))

<class 'tuple'>

In [5]:



t1=("manish")
print(type(t1))

<class 'str'>

In [7]:


t1=("manish",)
print(type(t1))

<class 'tuple'>

In [9]:
#creating a tuple 


t2=(2,3,"Ashish",(3,2),True,[30,40,60])


print(t2)

(2, 3, 'Ashish', (3, 2), True, [30, 40, 60])

In [13]:



# accesssing through indexing

t2=(2,3,"Ashish",(3,2),True,[30,40,60])

print(t2[5][2])

60

In [15]:
# acessing through slicing
t2=(2,3,"Ashish",(3,2),True,[30,40,60])

print(t2[::2])

(2, 'Ashish', True)



### editing / deletion is not possible because tuple is immutable but ca perform changing it in list

In [20]:


# type conversion

t2=(2,3,"Ashish",(3,2),True,[30,40,60])
new_1=list(t2)
print(new_1)

[2, 3, 'Ashish', (3, 2), True, [30, 40, 60]]

In [22]:



# tuple operation 

#arithmetic

t2=(2,3,4,6)
t3=(20,30,4)
print(t2+t3)

(2, 3, 4, 6, 20, 30, 4)

In [26]:
#membership

t2=(2,3,4,6)
print( 2 not in t2)

False

In [30]:

#loop
t2=(2,3,4,6)
for i in t2:
    print(i)

2
3
4
6

In [42]:
#tuples methods 


t2=(2,3,4,6)

print(len(t2))
print(min(t2))
print(max(t2))
print(sorted(t2, reverse=True))

print(sum(t2))

4
2
6
[6, 4, 3, 2]
15

In [48]:
# methods

t2=(2,3,4,6)
print(t2.index(4))

print(t2.count(4))

2
1

In [52]:




# tuple unpacking

a,b,c=(4,5,6)
print(a,b,c, sep="\n")

4
5
6

In [54]:
# can be done for list 


a,b,c,d=[30,40,60,80,]
print(a,b,c,d)

30 40 60 80

In [56]:
a,b,c,*not_intrested_to_unpack=[30,40,60,80,"Ashish",True]
print(a,b,c,not_intrested_to_unpack)

30 40 60 [80, 'Ashish', True]